@keyframes initTextWrapper {
    100%{
        transform:translateY(0);
        opacity:1;
    }
}
.background-part{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
   
    background:transparent;
    pointer-events:none;
}
::-webkit-scrollbar{
    display: none;
}

.home-container{
    width: 100vw;
    height: 100%;
    background-color: #001030;
}

.home-landing{
    position:relative;
    width: 100%; 
    height: calc(100vh - 50px);
    display: flex;
}

.text-wrapper{
    width: 40%;
    align-items: start;
    display: flex;
    flex-direction: column;
    z-index:2;
    align-items: start;
    justify-content: center;
    margin-left: 5rem;  
    
}

.logo-wallpaper{
    width: 450px;
    object-fit: contain;
    margin-left: 350px;
    opacity: .87;
}


.text-holder{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    width:max-content;
}
.text-holder > span{
    display:inline-block;
    animation: initTextWrapper 0.5s ease-in forwards ;
    transform:translateY(-100%);
    opacity:0;
}

.text-holder > span:nth-child(3){
   animation-delay: 0.2s;
}
.text-holder > span:nth-child(5){
   animation-delay: 0.4s;
}

.button-wrapper{
    width: 150px;
    height: 50px;
    border: white solid 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;
    margin-top: 2em;
    background-color: #001030;
}

.button-wrapper:hover{
    background-color: #FBFAF5;
    color:#001030;
    font-weight: 300;
    font-size: 1.2rem;  
}

.info-wrapper{
    z-index: 1000;
    width: 100%;
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container{
    width: max(70%, 1200px) ;
    height: 100%;
    background-color: #FBFAF5;
    border-radius: 20px;
}

.foot-note{
    width: 100%;
    height: 300px;
    background-color: #FBFAF5;
    margin-top: 10em;
}

.foot-note-wrapper{
    height:80%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-footer{
    margin-top: 2em;
    width: 50%;
    height: 100%;
    display: flex;
    color: #001030;
    flex-direction: column;
}

.stable-logo{
    width: 80px;
    object-fit: contain;
}