@keyframes initNav{
    100%{
        transform:translateY(0);
    }
}

nav{
    width:100vw;
    height:max-content;
    border-bottom:1px solid black;
    position:sticky;
    transform:translateY(-100%);
    top:0;
    animation: initNav 300ms ease forwards;
    display:flex;
    align-items: center;
    padding:10px 50px;
    background:#FBFAF5;
    z-index: 1000;
}

nav a{
    text-decoration: none;
    color:unset;
}
.logo-text{
    margin: 0 auto;
}

nav a:first-child{
    margin-left:1.9rem;
}

.logo{
    display:inline-block;
    font-size:20px;
    display:flex;
    align-items:center;
}

.logo-img{
    width: 2rem;
    margin: 0 auto;
    margin-right: .5em;
}

.nav-item{
    margin-right:2.5rem;
    cursor: pointer;
    position:relative;
}



.underline{
    position:absolute;
    top:110%;
    width:100%;
    border-radius:1rem;
    border:1px solid black;
    transform-origin: center;
    transform:scaleX(0);
    transition: transform 0.5s ease;
}

.underline.active-nav-item{
    transform:scaleX(1);
}

.nav-item:nth-child(2){
    margin-left:auto;
}

.connect-portis-button{
    padding:5px 10px;
    display:inline-block;
    border: 2px solid #001030;
    color:#001030;
    font-size: 15px;
    border-radius:0.3rem;
    transition: all 100ms ease-out;
    text-transform: capitalize; 
    background-color: transparent;
}

.connect-portis-button:hover{
    color:white;
    background-color:#001030; 
}