.Container{
    height: max(700px,calc(100vh - 52px));
    width: 100vw;
    justify-content: center;
    display: flex;
    justify-content:space-evenly;
    position: relative;
    background-color: white;
    align-items: center;
    flex-direction: column;
}

.Upload{
    width: 300px;
    height: 300px;
    margin-top: 200px;
    display: flex;
}

.display-files-container{
    width:100%;
    height:100%;
    border-radius:1rem;
    display: flex;
    align-items: center;
    flex-direction:column;
    overflow:scroll;
}

.display-files{
    box-shadow: 0px 1px 3px black;
    width:98%;
    height:max-content;
    background-color:#00173D;
    color:white;
    border-radius:0.9rem;
    padding-left:20px;
    margin: 10px 0;
    position:relative;
    display: flex;

}
.display-files p{
    width:100%;
    min-width:max-content;
    font-size:0.7rem;
    text-overflow: ellipsis;
    text-align:center;
}
/* .display-files p:first-child{
     width: 200px; 
    font-size:0.7rem;
}
.display-files p:nth-child(2){
    margin-left: 16em;
    font-size:0.7rem;
}*/
.display-files p:nth-child(3){
    /* font-size:0.7rem; */
    margin-right: 3rem;
    /* width: 320px; */
}  

.X-container{
    position:absolute;
    top:25%;
    right:3%;
    width:1.2rem;
    height:1.2rem;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.X-container::before,
.X-container::after{
    content:'';
    width:100%;
    position:absolute;
    border:1px solid white;
    transform:rotate(45deg);
}
.X-container::after{
    content:'';
    transform:rotate(-45deg);
}

.upload-container{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001030;
    flex-wrap: nowrap;
}


.sideNav{
    width:20rem;
    height:100%;
    background:#f5f5f5;
    overflow:hidden;
    display:flex;
    box-sizing: border-box;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
    padding-top:1rem;
}

.sideNav > div{
    width:95%;
    padding:.9rem 0;
    background:transparent;
    border: 1px solid #001030;
    border-radius: 5px;
    color:#001030;
    text-align: center;
    margin:0.5rem 0;
    cursor: pointer;
    display:flex;
    align-items:center;
    justify-content:center;
}

.sideNav span{
    font-size: 1em;
    font-weight: 600;
    margin-left: .3em;
}



.icon-upload,
.icon-file{
    width: 20px;
    object-fit: contain;
    margin: auto 0;
}



.upload-wrapper{
    width: max(70%, 500px);
    height: 650px;
    background-color: rgb(245, 245, 245);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.user-info-container{
    display: flex;
    margin-top: 3.2rem;
    margin-left: 3rem;
    width: 350px;
}
.top-container{
    display: flex;
    flex-direction: row;
    height: 122px;
    width: 100%;
    justify-content: space-between;
}

.user-wrapper{
    width: 23px;  
    height: 27px;
}

.user-wallet-wrapper{
    font-size: 1em;
    margin-left: 10px;
    font-weight: 600;
    color:#00173D;
}
.form-wrapper{
    display: flex;
    flex-direction: row;
    margin-right: 2em;
}

.upload-file-wrapper{
    height: 150px;
    margin-left: auto;
    margin-top: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
}

.upload-input{
    display: none;
}

.upload-img{
    width: 43px;
    height: 30px;
}

.upload-file{
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90px;
    background-color: #00173D;
    color: white;
    border-radius: 15px;
    margin-right: 1em;  
    cursor: pointer;
}

.upload-button{
    display: flex;
    width: 150px;
    height: 90px;
    align-items: center;
    justify-content: center;
    border: 2px solid #00173D;
    border-radius: 15px;
    color:#00173D;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}
.break{
    width: 95%;
    height: 2px;
    border-radius: 5px;
    background-color: #00173D;
}
.static-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.static-h1-one{
    font-size: .9em;
    font-weight: 400;
    margin-left: 2.5rem;
}
.static-h1-two{
    font-size: .9em;
    font-weight: 400;
}
.static-h1-three{
    font-size: .9em;
    font-weight: 400;
    margin-right: 2.5rem;
}
.second-container{
    margin-top: 1em;
    display: flex;
    width: 95%;
    height: 67%;
    border-radius: 15px;
    border: 4px dashed rgb(156, 156, 156);
    background-color: rgb(211, 211, 211);
}


.display-my-files{
    margin: 0 auto;
    width:max(40rem, 75%);
    height:40rem;
    background:red;
    overflow:hidden;
    border-radius:1rem;
   
    
}

.my-files-container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    overflow:scroll;
    box-sizing:border-box;
    padding:0 20px;
}

.fluff{
    width: 100%;
    height:3rem;
    background:orange;
    margin: 5px 0;
    flex-shrink:0;
}