.Container{
    height: auto;
    width: 100vw;
    justify-content: center;
    display: flex;
    justify-content:space-evenly;
    position: relative;
    background-color: white;
    align-items: center;
    flex-direction: column;
}

.Upload{
    width: 300px;
    height: 300px;
    margin-top: 200px;
    display: flex;
}

.display-files-container{
    width:30rem;
    height:20rem;
    background-color: grey;
    border-radius:1rem;
    display: flex;
    align-items: center;
    flex-direction:column;
    overflow:scroll;
}

.display-files{
    box-shadow: 0px 1px 3px black;
    width:93%;
    height:max-content;
    background-color: rgb(169, 169, 169);
    border-radius:0.9rem;
    padding-left:20px;
    margin: 3px 0;
    position:relative;
}

.display-files p:first-child{
    font-size:0.9rem;
}
.display-files p:last-child{
    font-size:0.6rem;
}

.X-container{
    position:absolute;
    top:6%;
    right:3%;
    width:1.2rem;
    height:1.2rem;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.X-container::before,
.X-container::after{
    content:'';
    width:100%;
    position:absolute;
    border:1px solid white;
    transform:rotate(45deg);
}
.X-container::after{
    content:'';
    transform:rotate(-45deg);
}

.upload-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001030;
    flex-direction: column;
}

.upload-wrapper{
    width: max(70%, 500px);
    height: 650px;
    background-color: rgb(245, 245, 245);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info-container{
    display: flex;
    margin-top: 3.2rem;
    margin-left: 3rem;
    width: 350px;
}
.top-container{
    display: flex;
    flex-direction: row;
    height: 122px;
    width: 100%;
    justify-content: space-between;
}

.user-wrapper{
    width: 23px;  
    height: 27px;
}

.user-wallet-wrapper{
    font-size: 1em;
    margin-left: 10px;
    font-weight: 600;
    color:#00173D;
}
.form-wrapper{
    display: flex;
    flex-direction: row;
    margin-right: 2em;
}

.upload-file-wrapper{
    height: 150px;
    margin-left: auto;
    margin-top: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
}

.upload-input{
    display: none;
}

.upload-img{
    width: 43px;
    height: 30px;
}

.upload-file{
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90px;
    background-color: #00173D;
    color: white;
    border-radius: 15px;
    margin-right: 1em;  
    cursor: pointer;
}

.upload-button{
    display: flex;
    width: 150px;
    height: 90px;
    align-items: center;
    justify-content: center;
    border: 2px solid #00173D;
    border-radius: 15px;
    color:#00173D;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}
.break{
    width: 95%;
    height: 2px;
    border-radius: 5px;
    background-color: #00173D;
}
.static-text{
    display: flex;
    justify-content: space-between;
}
.static-h1{
    font-size: .9em;
    font-weight: 400;
}